@font-face {
	font-family: iconfont;
	src: url(iconfont.eot?#iefix) format("embedded-opentype"), url(iconfont.woff) format("woff"), url(iconfont.ttf) format("truetype"), url(iconfont.svg#iconfont) format("svg");
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
article {
	margin: 0px; padding: 0px;
}
aside {
	margin: 0px; padding: 0px;
}
details {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
header {
	margin: 0px; padding: 0px;
}
hgroup {
	margin: 0px; padding: 0px;
}
menu {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
body {
	font: 12px/1.5 tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.5 tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.5 tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.5 tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
th {
	text-align: inherit;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
img {
	vertical-align: bottom;
}
iframe {
	display: block;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: 500;
}
h2 {
	font-size: 100%; font-weight: 500;
}
h3 {
	font-size: 100%; font-weight: 500;
}
h4 {
	font-size: 100%; font-weight: 500;
}
h5 {
	font-size: 100%; font-weight: 500;
}
h6 {
	font-size: 100%; font-weight: 500;
}
em {
	font-style: normal;
}
i {
	font-style: normal;
}
a {
	color: rgb(51, 51, 51);
}
a:hover {
	color: rgb(187, 64, 70); text-decoration: underline;
}
a:focus {
	outline: 0px;
}
ins {
	text-decoration: none;
}
a {
	text-decoration: none;
}
.clearfix {
	
}
.clearfix::before {
	height: 0px; overflow: hidden; display: block; visibility: hidden; content: ".";
}
.clearfix::after {
	height: 0px; overflow: hidden; display: block; visibility: hidden; content: ".";
}
.clearfix::after {
	clear: both;
}
.link:hover {
	text-decoration: underline !important;
}
.ellipsis {
	width: 100%; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.cursor {
	cursor: pointer;
}
.arry {
	border-width: 4px; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent rgb(182, 38, 47); width: 0px; height: 0px; overflow: hidden; display: inline-block;
}
.icon {
	background: url("http://img.jb51.net/skin/images/icon.png") no-repeat; overflow: hidden; display: inline-block; position: relative;
}
.bn {
	border: currentColor !important; border-image: none !important;
}
.borderT369 {
	border-top-color: rgb(51, 102, 153); border-top-width: 2px; border-top-style: solid;
}
.borderTblue {
	border-top-color: rgb(59, 176, 219); border-top-width: 2px; border-top-style: solid;
}
.borderTnone {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(188, 213, 229) rgb(188, 213, 229); border-image: none;
}
.borderTblue .borderTnone .h3 {
	border: 0px currentColor !important; border-image: none !important;
}
.borderT369 .borderTnone .h3 {
	border: 0px currentColor !important; border-image: none !important;
}
.hide {
	display: none;
}
.block {
	display: block !important;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.right {
	float: right;
}
.tc {
	text-align: center;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.lightBlueBg {
	background: rgb(248, 252, 255);
}
.blueBtn {
	background: rgb(129, 182, 236); padding: 0px 8px; border-radius: 2px; height: 18px; color: rgb(255, 255, 255); line-height: 18px; display: inline-block !important;
}
.blueBtn:hover {
	background: rgb(254, 156, 109); color: rgb(255, 255, 255); text-decoration: none;
}
.iconTxt-r {
	background: rgb(221, 50, 61); padding: 1px 2px; color: rgb(255, 255, 255); font-size: 12px; margin-left: 5px;
}
.iconTxt-g {
	background: rgb(221, 50, 61); padding: 1px 2px; color: rgb(255, 255, 255); font-size: 12px; margin-left: 5px;
}
.iconTxt-g {
	background: rgb(238, 238, 238); color: rgb(153, 153, 153);
}
.gray {
	color: gray;
}
.gray-c {
	color: rgb(204, 204, 204);
}
.gray-3 {
	color: rgb(51, 51, 51);
}
.gray-5 {
	color: rgb(85, 85, 85);
}
.gray-6 {
	color: rgb(102, 102, 102);
}
.gray-8 {
	color: rgb(136, 136, 136) !important;
}
.gray-9 {
	color: rgb(153, 153, 153) !important;
}
.red {
	color: rgb(182, 38, 47);
}
.gred {
	color: rgb(229, 59, 59);
}
.blue {
	color: rgb(51, 102, 153) !important;
}
.blue-1 {
	color: rgb(116, 158, 217) !important;
}
.bgf1 {
	background: rgb(241, 241, 241) !important;
}
.bgf5 {
	background: rgb(245, 245, 245) !important;
}
.bgf8 {
	background: rgb(248, 248, 248) !important;
}
.bgf9 {
	background: rgb(249, 249, 249) !important;
}
.bgfa {
	background: rgb(250, 250, 250) !important;
}
.bgeee {
	background: rgb(238, 238, 238) !important;
}
.bgBlue {
	background: rgb(51, 102, 153) !important; color: rgb(255, 255, 255);
}
.bgB {
	background: rgb(245, 250, 255);
}
.bgf {
	background: rgb(255, 255, 255) !important;
}
.YaHei {
	font-family: "Microsoft YaHei";
}
.SimSun {
	font-family: "Tahoma","simsun" !important;
}
.fbold {
	font-weight: bold;
}
.fz12 {
	font-size: 12px !important;
}
.fz14 {
	font-size: 14px !important;
}
.fz16 {
	font-size: 16px !important;
}
.fz18 {
	font-size: 18px !important;
}
.fz20 {
	font-size: 20px !important;
}
.lh22 {
	line-height: 22px;
}
.lh22 p {
	line-height: 22px;
}
.bt0 {
	border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.bb0 {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;
}
.pt0 {
	padding-top: 0px !important;
}
.pl0 {
	padding-left: 0px !important;
}
.pr0 {
	padding-right: 0px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pr30 {
	padding-right: 30px;
}
.pb0 {
	padding-bottom: 0px !important;
}
.pt5 {
	padding-top: 5px !important;
}
.pt10 {
	padding-top: 10px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pd5 {
	padding: 5px;
}
.pd10 {
	padding: 10px;
}
.pd15 {
	padding: 15px;
}
.pd20 {
	padding: 20px;
}
.pl20 {
	padding-left: 20px;
}
.pl10 {
	padding-left: 10px !important;
}
.plr10 {
	padding: 0px 10px !important;
}
.ptb25 {
	padding: 25px 0px !important;
}
.m0 {
	margin: 0px !important;
}
.mt0 {
	margin-top: 0px !important;
}
.mr0 {
	margin-right: 0px !important;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt13 {
	margin-top: 13px;
}
.mt15 {
	margin-top: 15px;
}
.mt17 {
	margin-top: 17px !important;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml25 {
	margin-left: 25px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr25 {
	margin-right: 25px;
}
.mtb10 {
	margin: 10px 0px;
}
.mtb15 {
	margin: 15px 0px;
}
.mtb20 {
	margin: 20px 0px;
}
.mtb25 {
	margin: 25px 0px;
}
.mlr10 {
	margin: 0px 10px;
}
.mlr5 {
	margin: 0px 5px;
}
.w60 {
	width: 60px !important;
}
.w80 {
	width: 80px !important;
}
.w90 {
	width: 90px !important;
}
.w100 {
	width: 100px;
}
.w110 {
	width: 110px;
}
.w120 {
	width: 120px;
}
.w130 {
	width: 130px;
}
.w140 {
	width: 140px;
}
.w150 {
	width: 150px;
}
.w160 {
	width: 160px !important;
}
.w165 {
	width: 165px;
}
.w170 {
	width: 170px;
}
.w180 {
	width: 180px;
}
.w190 {
	width: 190px;
}
.w200 {
	width: 200px;
}
.w220 {
	width: 220px;
}
.w230 {
	width: 230px;
}
.w240 {
	width: 240px;
}
.w250 {
	width: 250px;
}
.w260 {
	width: 260px;
}
.w290 {
	width: 290px;
}
.w295 {
	width: 295px;
}
.w300 {
	width: 300px;
}
.w320 {
	width: 320px;
}
.w380 {
	width: 380px;
}
.w690 {
	width: 690px;
}
.iconfont {
	font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;
}
.icon-nu::before {
	content: "\f0122";
}
.icon-chijing::before {
	content: "\f011c";
}
.icon-dai::before {
	content: "\f011d";
}
.icon-ganga::before {
	content: "\f0120";
}
.icon-jingdai::before {
	content: "\f0128";
}
.icon-yun::before {
	content: "\f0129";
}
.icon-shengqi::before {
	content: "\f0124";
}
.blank3 {
	height: 3px; overflow: hidden; clear: both; font-size: 1px; visibility: hidden;
}
.blank2 {
	height: 2px; overflow: hidden; clear: both; font-size: 1px;
}
.blank5 {
	height: 5px; overflow: hidden; clear: both; font-size: 1px;
}
.blank6 {
	height: 6px; overflow: hidden; clear: both; font-size: 1px;
}
.blank10 {
	height: 10px; overflow: hidden; clear: both; font-size: 1px;
}
.blank17 {
	height: 17px; overflow: hidden; clear: both; font-size: 1px;
}
.blank20 {
	height: 10px; overflow: hidden; clear: both; font-size: 1px;
}
.blankW6 {
	background: rgb(255, 255, 255); height: 6px; overflow: hidden; clear: both;
}
.bk {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk3 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk6 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk8 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk10 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk14 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk15 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk20 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk30 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk3 {
	height: 3px;
}
.bk6 {
	height: 6px;
}
.bk8 {
	height: 8px;
}
.bk10 {
	height: 10px;
}
.bk14 {
	height: 14px;
}
.bk15 {
	height: 15px;
}
.bk20 {
	height: 20px;
}
.bk30 {
	height: 30px;
}
.gotop {
	width: 46px; right: 30px; bottom: 100px; position: fixed; z-index: 999;
}
.gotop a {
	width: 46px; height: 46px; margin-bottom: 10px; display: block; background-image: url("images/go-top.png");
}
.gotop a:last-child {
	margin-bottom: 0px;
}
.gotop .go {
	background-position: 0px -100px;
}
.gotop .go:hover {
	background-position: 0px -150px;
}
.gotop .question {
	background-position: 0px -50px;
}
.gotop .question img {
	top: 55px; right: -15px; position: absolute;
}
.gotop .question:hover {
	background-position: 0px -200px;
}
.gotop .jb51-weixin {
	background-position: 0px 0px;
}
.gotop .jb51-weixin:hover {
	background-position: 0px -250px;
}
.gotop .jb51-weixin-con {
	background: rgb(255, 255, 255); top: 0px; width: 100px; right: 60px; position: absolute; box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}
.gotop .jb51-weixin-con .cz-weixin-title {
	margin: 5px 15px; font-size: 14px;
}
.gotop .jb51-weixin-con .cz-weixin-pic {
	position: relative;
}
.idc3 {
	background: rgb(51, 51, 51); padding: 5px 0px 5px 5px; width: 295px; display: inline-flex;
}
.idc3 h1 {
	font-size: 18px;
}
.idc3 a {
	background: rgb(119, 119, 119); padding: 3px; border: 1px solid rgb(102, 102, 102); border-image: none; width: 85px; height: 45px; text-align: center; color: rgb(255, 255, 255); margin-right: 5px; float: left; display: block;
}
.idc3 a:hover {
	background: rgb(119, 119, 119); padding: 3px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 85px; height: 45px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; margin-right: 5px; float: left; display: block;
}
