body {
	background-color: rgb(255, 255, 255);
}
.main {
	margin: 0px auto; width: 1000px; position: relative;
}
#headMenu {
	position: relative; z-index: 3;
}
.toolBar {
	background: rgb(248, 248, 248); border-bottom-color: rgb(232, 232, 232); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.topNav {
	height: 34px; position: relative;
}
.navList li {
	margin: 0px 3px; float: left; position: relative;
}
.navList li .one .icon {
	background-position: -103px -40px; width: 7px; height: 5px; margin-left: 5px; transform: rotate(0deg); transition-duration: 0.3s; _top: 7px; _margin: 9px 0 10px; -o-transform: rotate(0deg); -o-transition-duration: 0.3s;
}
.navList li .one a {
	padding: 0px 8px; text-decoration: none; border-right-color: rgb(248, 248, 248); border-left-color: rgb(248, 248, 248); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.navList li .two {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); border-image: none; top: 35px; padding-bottom: 5px; display: none; position: absolute; z-index: 22; min-width: 76px; _top: 34px;
}
.navList li .two a {
	margin: 5px 0px; padding: 0px 8px; color: rgb(102, 102, 102); display: block; white-space: nowrap;
}
.navList li.hover .one a {
	background: rgb(255, 255, 255); border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; _border-bottom: 0;
}
.navList li.hover .two {
	display: block;
}
.navList li .one a {
	height: 34px; color: rgb(85, 85, 85); line-height: 34px; display: inline-block;
}
.navUser a {
	height: 34px; color: rgb(85, 85, 85); line-height: 34px; display: inline-block;
}
.navList li.watch {
	padding-left: 20px; _padding-left: 17px;
}
.navList li.watch .icon {
	background-position: -129px 0px; left: 0px; top: 10px; width: 18px; height: 14px; position: absolute; _top: 1px;
}
.topNav a:hover {
	color: rgb(216, 21, 23);
}
.topNav li a:hover {
	color: rgb(216, 21, 23);
}
#jb51_topbar {
	float: right;
}
#jb51_topbar .userbar {
	height: 34px; float: right; white-space: nowrap; background-color: white;
}
#jb51_topbar .userbar a {
	margin: 3px 15px 0px; height: 20px; line-height: 20px; text-decoration: none; float: left; display: inline;
}
#jb51_topbar .userbar a:link {
	
}
#jb51_topbar .userbar a:visited {
	
}
#jb51_topbar .userbar a:hover {
	color: rgb(216, 21, 23); cursor: pointer;
}
#jb51_topbar .userbar a:active {
	color: rgb(216, 21, 23); cursor: pointer;
}
#jb51_topbar .userbar img {
	top: -2px; right: 1px; position: absolute;
}
.logo {
	float: left;
}
.logom {
	background: rgb(255, 255, 255); height: 72px; text-align: right; line-height: 72px; overflow: hidden; padding-left: 12px; vertical-align: middle;
}
.logor {
	background: rgb(255, 255, 255); width: 380px; height: 72px; text-align: right; line-height: 72px; overflow: hidden; vertical-align: middle;
}
.nav_top {
	background: rgb(55, 132, 203); margin: 0px auto; height: 36px; line-height: 36px; overflow: hidden; clear: both; font-size: 14px;
}
.nav_top ul li {
	margin: 0px; padding: 0px; height: 36px; line-height: 36px; overflow: hidden; float: left; display: block;
}
.nav_top ul li a {
	padding: 0px 11px; height: 36px; color: rgb(255, 255, 255); line-height: 36px; font-size: 14px; float: left; display: block;
}
.nav_top ul li.current a {
	background: rgb(255, 102, 0); color: rgb(255, 255, 255); text-decoration: none;
}
.nav_top ul li.current a:hover {
	background: rgb(6, 86, 159); color: rgb(255, 255, 255); text-decoration: none;
}
.nav_top ul a:hover {
	background: rgb(34, 148, 234); color: rgb(255, 255, 255); text-decoration: none; text-shadow: 0px 1px 2px #c48402;
}
.nav_top ul li.last {
	background: rgb(135, 200, 12); float: right;
}
.nav_top ul li.last a:hover {
	background: rgb(135, 200, 12); text-decoration: none;
}
.subnav {
	background: rgb(246, 251, 255); margin: 0px auto; border: 1px solid rgb(188, 213, 229); border-image: none; height: 35px; line-height: 35px; overflow: hidden; clear: both; font-size: 12px;
}
.subnav ul li {
	float: left; display: inline; -ms-zoom: 1;
}
.subnav ul li a {
	color: rgb(102, 102, 102); margin-left: 8px;
}
.subnav iframe {
	margin: 0px; padding: 0px; height: 23px; line-height: 23px;
}
.subnav2 ul {
	margin: 0px; padding: 0px;
}
.subnav2 ul li {
	line-height: 23px; margin-right: 10px; float: left; display: inline;
}
#tonglan1 {
	margin: 0px auto; padding: 0px; clear: both;
}
.search {
	margin: 5px auto; border-radius: 2px; border: 1px solid rgb(28, 145, 219); border-image: none; width: 298px; height: 28px; text-align: right; line-height: 28px; overflow: hidden; clear: both;
}
.key_input {
	background: rgb(255, 255, 255); border: currentColor; border-image: none; width: 239px; height: 24px; color: rgb(153, 153, 153); line-height: 24px; font-size: 12px; margin-top: 3px; margin-left: 1px;
}
.c_btn {
	background: rgb(28, 145, 219); margin: 0px; padding: 6px 12px; border: 0px rgb(217, 217, 217); border-image: none; width: 50px; height: 28px; color: rgb(255, 255, 255); font-size: 12px; vertical-align: top; cursor: pointer;
}
.NavBar {
	clear: both;
}
.NavBar .box .icon {
	background-position: -100px -26px; margin: 0px 3px 0px 0px; top: 1px; width: 14px; height: 12px; position: relative; _top: 0px;
}
.tonglanad {
	background: url("http://common.jb51.net/images/tgbd.gif") no-repeat right top; margin: 0px auto; border: 1px solid rgb(190, 210, 228); border-image: none; width: 998px;
}
.lbd {
	margin: 5px auto; width: 680px; text-align: center;
}
.r300 {
	width: 300px; overflow: hidden;
}
#txtlink {
	background: url("images/gg.png") no-repeat right bottom rgb(255, 255, 255); border: 1px solid rgb(190, 210, 228); border-image: none; -ms-zoom: 1;
}
#tonglan3 {
	margin: 0px auto; clear: both;
}
#tonglan6 {
	margin: 0px auto; clear: both;
}
#txtlink ul {
	
}
#txtlink li {
	background: url("http://common.jb51.net/images/bgall.gif") no-repeat 8px -165px; list-style: none; margin: 0px; width: 230px; height: 22px; text-align: left; line-height: 22px; overflow: hidden; padding-left: 18px; float: left;
}
#txtlink li a {
	color: rgb(16, 50, 107);
}
#txtlink ul li a:visited {
	color: rgb(16, 50, 107);
}
#txtlink li a:hover {
	color: red;
}
.topimg {
	border: 1px solid rgb(170, 203, 238); border-image: none; height: 64px; overflow: hidden;
}
.topimg ul {
	padding: 0px; margin-top: 2px;
}
.topimg ul li {
	margin: 0px 6px; padding: 0px; float: left; display: inline;
}
.topimg ul li img {
	width: 237px; height: 60px;
}
.article-content {
	padding: 0px; border: 1px solid rgb(188, 213, 229); border-image: none; -ms-zoom: 1;
}
.article-content .title h1 {
	font: 600 16px/normal "microsoft yahei", arial; padding: 15px 0px 10px; text-align: center; color: rgb(51, 51, 51); margin-bottom: 10px; border-bottom-color: rgb(188, 213, 229); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;
}
.article-content .title p {
	padding: 5px; text-align: center; color: rgb(153, 153, 153);
}
.article-content .art_desc {
	background: rgb(246, 251, 255); margin: 10px 5px; padding: 10px; color: rgb(51, 51, 51); font-size: 14px; border-left-color: rgb(59, 176, 219); border-left-width: 3px; border-left-style: solid;
}
.artlistBar {
	padding: 0px; border: 1px solid rgb(188, 213, 229); border-image: none; -ms-zoom: 1;
}
.indexlist {
	
}
.index_bor {
	margin-top: 10px;
}
.index_con {
	height: 32px; line-height: 32px; border-top-color: rgb(59, 176, 219); border-bottom-color: rgb(188, 213, 229); border-top-width: 2px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.index_con h2 {
	margin: 0px; padding: 0px 0px 0px 15px; color: rgb(255, 102, 0); font-size: 14px; font-weight: 700; float: left; display: block;
}
.index_con span {
	padding-right: 10px; float: right; display: block;
}
.index_con span a {
	color: rgb(153, 153, 153);
}
.index_list {
	margin: 0px; padding: 5px 0px 0px; display: block; list-style-type: none;
}
.index_list li {
	width: 300px; height: 28px; color: rgb(37, 37, 37); line-height: 28px; overflow: hidden; padding-right: 15px; padding-left: 15px; font-size: 14px; float: left;
}
.index_list span {
	color: rgb(102, 102, 102); font-size: 12px; margin-right: 5px;
}
.artlist dl {
	width: 688px;
}
.artlist dl dt {
	background: url("http://common.jb51.net/skin/images/icon_li.gif") no-repeat 5px 10px; padding: 8px 10px 0px 15px; height: 32px; text-align: left; color: rgb(51, 51, 51); line-height: 32px; overflow: hidden; font-weight: normal; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;
}
.artlist dl dt span {
	color: rgb(102, 102, 102); font-size: 12px; font-weight: normal; float: right;
}
.artlist dl dt a:link {
	color: rgb(22, 56, 124); font-size: 14px;
}
.artlist dl dt a:visited {
	color: rgb(22, 56, 124); font-size: 14px;
}
.artlist dl dt a:hover {
	color: rgb(255, 102, 0);
}
.artlist dl dt a:active {
	color: rgb(255, 102, 0);
}
.artlist dl dd {
	background: rgb(255, 255, 255); margin: 0px 5px; padding: 0px 3px 18px 20px; text-align: left; color: rgb(102, 102, 102); line-height: 18px; clear: both; font-size: 12px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;
}
.artlist dl dd br {
	display: none;
}
.artlist dl dd img {
	float: right;
}
.dxypage {
	padding: 15px 0px 15px 10px; width: 98%; height: 50px; text-align: center; line-height: 50px; font-family: ËÎÌו;
}
.dxypage a {
	background: rgb(238, 238, 238); padding: 0px 10px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 28px; color: rgb(51, 51, 51); line-height: 28px; font-size: 12px; text-decoration: none; margin-right: 6px; display: inline-block;
}
.dxypage strong {
	background: rgb(57, 113, 169); padding: 0px 10px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 28px; color: rgb(255, 255, 255); line-height: 28px; font-size: 12px; font-weight: normal; text-decoration: none; margin-right: 6px; display: inline-block;
}
.dxypage a:visited {
	background: rgb(238, 238, 238); border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(68, 68, 68); text-decoration: none;
}
.dxypage a:hover {
	background: rgb(57, 113, 169); border-color: rgb(46, 106, 177); color: rgb(255, 255, 255); font-size: 12px;
}
#content {
	margin: 0px 10px; padding: 20px 5px 0px; width: 660px; text-align: left; line-height: 180%; overflow: hidden; clear: both; font-size: 14px; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
#content ol {
	list-style: decimal; margin: 0px 0px 10px 25px; padding: 0.3em 0px; line-height: 25px;
}
#content ul {
	list-style: decimal; margin: 0px 0px 10px 25px; padding: 0.3em 0px; line-height: 25px;
}
#content li {
	list-style-type: decimal;
}
#content table {
	border: 1px solid rgb(204, 204, 204); border-image: none; text-align: center; clear: both; margin-top: 0.54em; border-collapse: collapse;
}
#content th {
	padding: 0.2em 0.46em; border: 1px solid rgb(204, 204, 204); border-image: none;
}
#content td {
	padding: 0.2em 0.46em; border: 1px solid rgb(204, 204, 204); border-image: none;
}
#content th {
	background: rgb(243, 243, 243);
}
#content th img {
	margin: 0.45em auto 0px; display: block;
}
#content td.version {
	font-weight: bold;
}
#content p {
	padding: 5px 0px; font-size: 14px;
}
#content span {
	line-height: 180%; font-size: 12px;
}
#content img {
	padding: 1px; border: 1px solid rgb(204, 204, 204); border-image: none; overflow: hidden; max-width: 650px;
}
#content div {
	line-height: 180%; font-size: 14px;
}
#content font {
	line-height: 180%; font-size: 14px;
}
#content h2 {
	color: rgb(0, 102, 153); font-size: 14px; font-weight: bold;
}
#content h3 {
	color: rgb(0, 102, 153); font-size: 14px; font-weight: bold;
}
#content h4 {
	color: rgb(0, 102, 153); font-size: 14px; font-weight: bold;
}
#content h5 {
	color: rgb(0, 102, 153); font-size: 14px; font-weight: bold;
}
#content a:link {
	color: rgb(0, 102, 153); font-size: 14px; text-decoration: none;
}
#content a:visited {
	color: rgb(0, 102, 153); font-size: 14px;
}
#content a:hover {
	color: red; font-size: 14px;
}
#content a.dl {
	background: rgb(95, 186, 172); margin: 10px 5px 20px 25px; padding: 8px 16px; border-radius: 2px; border: 2px solid white; border-image: none; text-align: center; color: rgb(255, 255, 255); text-indent: 0px; vertical-align: text-bottom; display: inline-block; cursor: pointer; box-shadow: 0px 0px 0px 1px #eee;
}
#content a.dl:hover {
	background: rgb(247, 133, 133);
}
#content ol.jb51 {
	padding-left: 15px; margin-left: 10px;
}
#content ul.jb51 {
	padding-left: 15px; margin-left: 10px;
}
#content .jb51code {
	margin: 0px; padding: 0px; width: 660px; text-align: left; overflow: hidden; clear: both;
}
#content pre {
	background: rgb(255, 255, 255); margin: 3px auto 0px; padding: 0px 0px 0px 5px; width: 640px; line-height: 20px; clear: both; font-size: 14px; border-left-color: rgb(108, 226, 108); border-left-width: 3px; border-left-style: solid;
}
#content code {
	background: rgb(255, 255, 255); margin: 3px auto 0px; padding: 0px 0px 0px 5px; width: 640px; line-height: 20px; clear: both; font-size: 14px; border-left-color: rgb(108, 226, 108); border-left-width: 3px; border-left-style: solid;
}
#content p > code {
	padding: 2px 4px; border-radius: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(199, 37, 78); line-height: 1.5; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 12px; background-color: rgb(249, 242, 244);
}
#content li > code {
	padding: 2px 4px; border-radius: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(199, 37, 78); line-height: 1.5; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 12px; background-color: rgb(249, 242, 244);
}
#content table.jbborder {
	border: currentColor; border-image: none; border-collapse: collapse;
}
#content table.jbborder th {
	padding: 3px; border: 1px solid rgb(227, 227, 227); border-image: none;
}
table.jbborder td {
	padding: 3px; border: 1px solid rgb(227, 227, 227); border-image: none;
}
#content table.dataintable {
	border: 1px solid rgb(136, 136, 136); border-image: none; width: 100%; font-family: Arial, Helvetica, sans-serif; margin-top: 10px; border-collapse: collapse;
}
#content table.dataintable pre {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; background-color: transparent;
}
#content table.dataintable th {
	padding: 5px 15px 5px 5px; border: 1px solid rgb(136, 136, 136); border-image: none; vertical-align: baseline; background-color: rgb(204, 204, 204);
}
#content table.dataintable td {
	padding: 5px 15px 5px 5px; border: 1px solid rgb(170, 170, 170); border-image: none; vertical-align: text-top; background-color: rgb(239, 239, 239);
}
#content table.dataintable p {
	margin: 0px 0px 2px;
}
.pagenum {
	color: rgb(68, 68, 68); font-family: "Microsoft YaHei"; font-size: 14px;
}
.pagenum a {
	background: rgb(238, 238, 238); margin: 0px 5px 15px 0px; padding: 0px 14px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 32px; color: rgb(68, 68, 68); line-height: 32px; font-family: "Microsoft YaHei"; font-size: 14px; display: inline-block;
}
.pagenum strong {
	background: rgb(238, 238, 238); margin: 0px 5px 15px 0px; padding: 0px 14px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 32px; color: rgb(68, 68, 68); line-height: 32px; font-family: "Microsoft YaHei"; font-size: 14px; display: inline-block;
}
.pagenum a:visited {
	background: rgb(238, 238, 238); margin: 0px 5px 15px 0px; padding: 0px 14px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 32px; color: rgb(68, 68, 68); line-height: 32px; font-family: "Microsoft YaHei"; font-size: 14px; display: inline-block;
}
.pagenum a:hover {
	background: rgb(57, 113, 169); color: rgb(255, 255, 255); text-decoration: none;
}
.pagenum strong {
	background: rgb(57, 113, 169); color: rgb(255, 255, 255); text-decoration: none;
}
.article-content .art_xg {
	margin: 0px; padding: 10px 20px; text-align: left; overflow: hidden; clear: both;
}
.article-content .art_xg h4 {
	color: rgb(0, 102, 153); font-size: 14px; font-weight: bold;
}
.article-content .art_xg ul {
	margin: 0px; padding: 0px;
}
.article-content .art_xg ul li {
	background: url("http://common.jb51.net/images/newsli.gif") no-repeat 8px 50%; text-align: left; color: rgb(0, 102, 153); line-height: 28px; padding-left: 20px; font-size: 14px; display: block;
}
.article-content .art_xg ul li a:link {
	color: rgb(0, 102, 153); font-size: 14px;
}
.article-content .art_xg ul li a:visited {
	color: rgb(255, 102, 0); font-size: 14px;
}
.article-content .art_xg ul li a:hover {
	color: rgb(255, 102, 0); font-size: 14px;
}
.article-content .codetitle {
	background: rgb(242, 246, 251); margin: 3px auto 0px; padding: 0px 3px; width: 640px; clear: both; font-size: 14px; border-top-color: rgb(0, 153, 204); border-right-color: rgb(0, 153, 204); border-left-color: rgb(0, 153, 204); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
#content .codetitle span {
	float: right;
}
#content .codebody {
	background: rgb(221, 237, 251); margin: 0px auto 3px; padding: 0px 3px 0px 5px; border: 1px solid rgb(0, 153, 204); border-image: none; width: 638px; clear: both; font-size: 14px;
}
#content .htmlarea {
	margin: 0px auto; padding: 3px; width: 590px; text-align: center; clear: both; font-size: 14px;
}
#content .htmlarea textarea {
	width: 96%; height: 200px; font-size: 14px;
}
.article-content .tags {
	background: rgb(255, 255, 255); margin: 0px auto; border: 1px dashed rgb(202, 229, 255); border-image: none; width: 600px; height: 24px; text-align: left; line-height: 24px; padding-right: 10px; padding-left: 10px;
}
.article-content .tags a {
	margin-right: 5px;
}
.aside {
	
}
.subcate {
	
}
.asidetit {
	height: 34px; line-height: 34px;
}
.bord {
	border-width: 2px 1px 1px; border-style: solid; border-color: rgb(182, 38, 47) rgb(221, 221, 221) rgb(221, 221, 221); border-image: none;
}
.asidetit h3 {
	padding: 5px 0px 0px 15px; top: -1px; color: rgb(182, 38, 47); font-family: "Microsoft YaHei"; font-size: 16px; font-weight: normal; position: relative;
}
.subcatec {
	padding: 10px 15px;
}
.subcatec ul {
	
}
.subcatec li {
	width: 130px; height: 26px; line-height: 26px; text-indent: 15px; overflow: hidden; font-family: "Microsoft YaHei"; font-size: 16px; display: inline-block; white-space: nowrap; position: relative; cursor: pointer; -ms-text-overflow: ellipsis;
}
.subcatec li i {
	background: rgb(85, 85, 85); left: 5px; top: 12px; width: 4px; height: 4px; overflow: hidden; display: block; position: absolute;
}
.subcatec li a {
	
}
#con_all {
	margin: 0px; padding: 20px; width: 640px; overflow: hidden; clear: both;
}
#con_da1 {
	margin: 0px; padding: 0px; width: 300px; text-align: left; overflow: hidden; float: left;
}
#con_da2 {
	margin: 0px; padding: 0px; text-align: left; overflow: hidden; float: right;
}
#content .htmlarea {
	margin: 0px auto; padding: 3px; width: 590px; text-align: center; clear: both; font-size: 14px;
}
#content .htmlarea textarea {
	width: 96%; height: 200px; font-size: 14px;
}
#content span.quote {
	margin: 10px auto; padding: 3px 10px; border: 1px dashed rgb(191, 223, 255); width: 92%; color: rgb(0, 0, 0); display: block; background-color: rgb(245, 251, 255);
}
.quote a:active {
	
}
#content span.quote span {
	color: rgb(255, 0, 0); display: block;
}
#content .downsoft dl {
	background: rgb(247, 250, 251); margin: 0px auto; padding: 10px; border: 1px solid rgb(198, 220, 247); border-image: none; width: 95%; line-height: 30px; overflow: auto; -ms-zoom: 1;
}
#content .downsoft dl dt {
	float: left;
}
#content .downsoft dl dd span {
	float: left;
}
#content .downsoft dl dd a {
	background: url("http://common.jb51.net/images/downback.gif") no-repeat; border: currentColor; border-image: none; width: 156px; height: 42px; float: right; display: block;
}
#content .downsoft dl dd strong {
	color: rgb(204, 0, 0);
}
#content .downsoft dl dd {
	overflow: auto; -ms-zoom: 1;
}
blockquote {
	background: rgb(245, 251, 255); border-width: 1px 1px 1px 4px; border-style: solid; border-color: rgb(191, 223, 255); margin: 0px auto 10px 0px; padding: 4px 4px 4px 10px; width: 95%;
}
blockquote h6 {
	margin: 0px; padding: 0px 4px 4px; color: rgb(153, 153, 153); font-size: 11px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: dashed;
}
blockquote p {
	margin: 0px; padding: 4px 4px 0px; font-size: 12px;
}
blockquote ul {
	padding-left: 15px;
}
blockquote ol {
	padding-left: 15px;
}
.relatedarticle {
	padding: 0px; height: 1%; overflow: hidden; border-bottom-color: rgb(188, 213, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.relatedarticle h2 {
	background: rgb(246, 251, 255); padding: 8px; height: 1%; color: rgb(0, 0, 0); overflow: hidden; font-size: 14px; font-weight: bold; border-bottom-color: rgb(59, 176, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.relatedarticle ul {
	padding: 0px 20px;
}
.relatedarticle li {
	background: url("http://common.jb51.net/images/newsli.gif") no-repeat 8px 50%; height: 28px; line-height: 28px; overflow: hidden; padding-left: 20px; font-size: 14px;
}
.relatedarticle li a {
	color: rgb(0, 102, 153);
}
.relatedarticle li a:hover {
	color: rgb(253, 154, 0);
}
.relatedarticle li span {
	color: rgb(153, 153, 153); font-size: 12px; margin-left: 5px; float: right;
}
#hm_t_3717 {
	margin: 5px auto;
}
#shoucang {
	margin: 5px; padding: 5px;
}
#comments {
	padding: 0px; height: 1%; overflow: hidden; border-bottom-color: rgb(188, 213, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
#comments h2 {
	background: rgb(246, 251, 255); padding: 8px; height: 1%; color: rgb(0, 0, 0); overflow: hidden; font-size: 14px; font-weight: bold; border-bottom-color: rgb(59, 176, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.tabTitleBar .blueTitleMain {
	border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid; position: relative;
}
.tabTitleBar-blue .titleMain {
	border-top-color: currentColor !important; border-bottom-color: rgb(238, 238, 238); border-top-width: 0px !important; border-bottom-width: 1px; border-top-style: none !important; border-bottom-style: solid;
}
.tabTitleBar .titleMain {
	border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.tabTitleBar .titleMain .txt {
	top: -1px; font-family: "Microsoft YaHei"; font-size: 18px; position: relative;
}
.columnPageC h3 {
	border-top-color: rgb(51, 102, 153); border-top-width: 3px; border-top-style: solid;
}
.tabTitleBar .titleMain .blue {
	border-top-color: rgb(51, 102, 153); border-top-width: 3px; border-top-style: solid;
}
.columnTxtRecom .titleMain .txt {
	padding: 5px 15px 0px;
}
.tabTitleBar .tabred {
	border-top-color: rgb(182, 38, 47); border-right-color: rgb(221, 221, 221); border-top-width: 3px; border-right-width: 1px; border-top-style: solid; border-right-style: solid;
}
.tabTitleBar .tabred .txt {
	width: 124px; text-align: center; border-top-color: currentColor; border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: medium; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-bottom-style: solid; border-left-style: solid;
}
.tabTitleBar .tabred .cur {
	background: rgb(255, 255, 255); border-right-color: currentColor; border-bottom-color: currentColor; border-right-width: 0px; border-bottom-width: medium; border-right-style: none; border-bottom-style: none;
}
.tabTitleBar .titleMain .red {
	border-top-color: rgb(182, 38, 47); border-top-width: 3px; border-top-style: solid;
}
.titleMain-a {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.titleMain-a .btBlue {
	padding: 0px 0px 4px; top: 1px; border-bottom-color: rgb(51, 102, 153); border-bottom-width: 2px; border-bottom-style: solid; position: relative;
}
.titleMain-b .txt {
	font-size: 18px; float: none; display: block;
}
.tabTitleBar h4 {
	padding: 10px 15px; font-size: 18px;
}
.tabTitleBar .titleMain .more {
	line-height: 34px; padding-right: 5px;
}
.newsList {
	padding: 0px;
}
.newsList li {
	padding: 3px 0px; width: 100%; height: 24px; overflow: hidden; font-size: 14px;
}
.newsList li a {
	width: 268px; height: 24px; line-height: 24px; overflow: hidden; font-size: 14px; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.newsList li em {
	margin: 3px 10px 0px 0px; width: 20px; height: 20px; text-align: center; color: rgb(153, 153, 153); line-height: 15px; overflow: hidden; font-family: "georgia", "STHeiti", "Microsoft YaHei", "simsun", "sans-serif", Arial; font-size: 20px; font-style: italic; float: left; _margin-top: 0px;
}
.newsList li.top em {
	color: rgb(182, 38, 47);
}
.newList-in {
	padding: 0px 10px 10px;
}
.newList-in li a {
	width: 248px; color: rgb(89, 89, 89);
}
.newList-in li a:hover {
	color: rgb(187, 64, 70);
}
.newsListA {
	width: 280px; overflow: hidden;
}
.newsListA ul {
	padding: 2px 0px 0px; width: 100%; clear: both;
}
.newsListA li {
	background: url("http://common.jb51.net/images/newsli.gif") no-repeat 8px 50%; padding: 3px 0px 3px 20px; height: 24px; text-align: left; line-height: 24px; overflow: hidden; font-size: 14px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#fdbox {
	border: 1px solid rgb(255, 0, 0); border-image: none; margin-top: 10px;
}
#bot_ad {
	text-align: left;
}
#logo_m_tp {
	display: none;
}
#logo_r_tp {
	display: none;
}
#tonglan1_tp {
	display: none;
}
#tongji {
	display: none;
}
.newslist {
	padding: 0px 15px;
}
.newslist dl {
	padding: 15px 0px !important; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.newslist dl dt {
	height: 32px; text-align: right; color: rgb(102, 102, 102); line-height: 32px;
}
.newslist dl dt span {
	text-align: left; overflow: hidden; float: left;
}
.newslist dl dt a {
	color: rgb(51, 51, 51); font-family: "Microsoft YaHei"; font-size: 16px !important; font-weight: bold;
}
.newslist dl dt a:link {
	color: rgb(51, 51, 51);
}
.newslist dl dt a:visited {
	color: rgb(22, 56, 124);
}
.newslist dl dt a:hover {
	color: rgb(255, 102, 0);
}
.newslist dl dt a:active {
	color: rgb(255, 102, 0);
}
.newslist dl dd {
	margin: 0px 10px; padding: 10px 0px 0px; width: 612px;
}
.newslist dl dd.preview {
	color: rgb(119, 119, 119); line-height: 20px; text-indent: 2px;
}
.newslist dl dd.info {
	color: rgb(0, 51, 153); line-height: 31px;
}
.newslist dl dd.info span {
	color: rgb(0, 153, 0); margin-right: 20px;
}
.newslist dl dd.info a {
	margin: -30px 5px 0px 0px; color: rgb(0, 51, 153); float: right; position: relative;
}
#footer {
	background: rgb(250, 250, 250); padding: 20px 0px; margin-top: 35px;
}
#footer p {
	text-align: center; color: rgb(85, 85, 85); line-height: 24px;
}
#footer p a {
	margin: 0px 4px; color: rgb(85, 85, 85);
}
.lists-main {
	padding-left: 10px; margin-bottom: 10px; position: relative;
}
.lists-intro {
	padding-top: 12px; padding-left: 175px; position: relative; min-height: 145px;
}
.lists-intro .thumb {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(235, 235, 235); border-image: none; left: 0px; top: 0px; position: absolute;
}
.lists-intro .thumb img {
	width: 138px; height: 138px;
}
.lists-intro h1 {
	top: 10px; font-size: 26px; margin-top: 0px; position: absolute;
}
.lists-intro .description {
	margin: 50px 10px 10px 0px; height: 69px; color: rgb(68, 68, 68); line-height: 23px; overflow: hidden;
}
.lists-intro .description a {
	color: rgb(46, 142, 217); margin-left: 6px;
}
.lists-links {
	overflow: hidden; margin-top: 20px;
}
.lists-links a {
	background: rgb(238, 238, 238); padding: 0px 10px; height: 30px; line-height: 30px; margin-right: 10px; display: inline-block;
}
.lists-links a:hover {
	background: rgb(0, 142, 225); color: rgb(255, 255, 255);
}
#hbbox {
	background: url("http://files.jb51.net/image/tb1212.png") no-repeat center; width: 150px; height: 125px; right: 0px; bottom: 0px; overflow: hidden; position: fixed;
}
.button {
	font-size: 12px; float: right; display: inline; cursor: pointer;
}
.psindex_list {
	
}
.psindex_list li {
	margin: 10px 1% 15px 2%; padding: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 20%; float: left;
}
.psindex_list li a {
	width: 100%; text-align: center; overflow: hidden; float: left; -webkit-box-orient: vertical; -webkit-line-clamp: 2;
}
.psindex_list li .max_a {
	height: 36px;
}
.psindex_list li span {
	color: rgb(153, 153, 153); margin-top: 5px;
}
.psindex_list li img {
	margin: 0px; vertical-align: middle; max-height: 90px; max-width: 98%;
}
.psindex_list .psindex_img_a {
	line-height: 104px; min-height: 104px;
}
#content p.content-shequ {
	background: rgb(240, 247, 252); list-style: none; margin: 8px auto; padding: 4px; border-radius: 5px; color: rgb(102, 102, 102); text-indent: 6px; overflow: hidden; font-size: 12px; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#content p.content-shequ:hover {
	background: rgb(243, 245, 246);
}
#content p.content-shequ a {
	color: red; font-size: 12px;
}
#content p.content-shequ:hover a {
	color: rgb(203, 21, 26);
}
