.syntaxhighlighter a {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter div {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter code {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table td {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table tr {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table tbody {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table thead {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table caption {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter textarea {
	background: none !important; margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; overflow: visible !important; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter {
	margin: 1em 0px !important; width: 100% !important; overflow: auto !important; font-size: 1em !important; position: relative !important;
}
.syntaxhighlighter.source {
	overflow: hidden !important;
}
.syntaxhighlighter .bold {
	font-weight: bold !important;
}
.syntaxhighlighter .italic {
	font-style: italic !important;
}
.syntaxhighlighter .line {
	white-space: pre !important;
}
.syntaxhighlighter table {
	width: 100% !important;
}
.syntaxhighlighter table caption {
	padding: 0.5em 0px 0.5em 1em !important; text-align: left !important;
}
.syntaxhighlighter table td.code {
	width: 100% !important;
}
.syntaxhighlighter table td.code .container {
	position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
	background: white !important; border: currentColor !important; border-image: none !important; left: 0px !important; top: 0px !important; width: 100% !important; height: 100% !important; overflow: hidden !important; padding-left: 1em !important; white-space: pre !important; position: absolute !important; box-sizing: border-box !important;
}
.syntaxhighlighter table td.gutter .line {
	padding: 0px 0.5em 0px 1em !important; text-align: right !important;
}
.syntaxhighlighter table td.code .line {
	padding: 0px 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea {
	padding-left: 0em !important;
}
.syntaxhighlighter.nogutter td.code .line {
	padding-left: 0em !important;
}
.syntaxhighlighter.show {
	display: block !important;
}
.syntaxhighlighter.collapsed table {
	display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
	padding: 0.1em 0.8em 0em !important; width: auto !important; height: auto !important; font-size: 1em !important; position: static !important;
}
.syntaxhighlighter.collapsed .toolbar span {
	margin-right: 1em !important; display: inline !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
	padding: 0px !important; display: none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
	display: inline !important;
}
.syntaxhighlighter .toolbar {
	top: 1px !important; width: 11px !important; height: 11px !important; right: 1px !important; font-size: 10px !important; position: absolute !important; z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
	display: inline !important;
}
.syntaxhighlighter .toolbar a {
	text-align: center !important; padding-top: 1px !important; text-decoration: none !important; display: block !important;
}
.syntaxhighlighter .toolbar a.expandSource {
	display: none !important;
}
.syntaxhighlighter.ie {
	padding: 1px 0px !important; font-size: 0.9em !important;
}
.syntaxhighlighter.ie .toolbar {
	line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
	padding-top: 0px !important;
}
.syntaxhighlighter.printing .line.alt1 .content {
	background: none !important;
}
.syntaxhighlighter.printing .line.alt2 .content {
	background: none !important;
}
.syntaxhighlighter.printing .line.highlighted .number {
	background: none !important;
}
.syntaxhighlighter.printing .line.highlighted.alt1 .content {
	background: none !important;
}
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
	background: none !important;
}
.syntaxhighlighter.printing .line .number {
	color: rgb(187, 187, 187) !important;
}
.syntaxhighlighter.printing .line .content {
	color: black !important;
}
.syntaxhighlighter.printing .toolbar {
	display: none !important;
}
.syntaxhighlighter.printing a {
	text-decoration: none !important;
}
.syntaxhighlighter.printing .plain {
	color: black !important;
}
.syntaxhighlighter.printing .plain a {
	color: black !important;
}
.syntaxhighlighter.printing .comments {
	color: rgb(0, 130, 0) !important;
}
.syntaxhighlighter.printing .comments a {
	color: rgb(0, 130, 0) !important;
}
.syntaxhighlighter.printing .string {
	color: blue !important;
}
.syntaxhighlighter.printing .string a {
	color: blue !important;
}
.syntaxhighlighter.printing .keyword {
	color: rgb(0, 102, 153) !important; font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
	color: gray !important;
}
.syntaxhighlighter.printing .variable {
	color: rgb(170, 119, 0) !important;
}
.syntaxhighlighter.printing .value {
	color: rgb(0, 153, 0) !important;
}
.syntaxhighlighter.printing .functions {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter.printing .constants {
	color: rgb(0, 102, 204) !important;
}
.syntaxhighlighter.printing .script {
	font-weight: bold !important;
}
.syntaxhighlighter.printing .color1 {
	color: gray !important;
}
.syntaxhighlighter.printing .color1 a {
	color: gray !important;
}
.syntaxhighlighter.printing .color2 {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter.printing .color2 a {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter.printing .color3 {
	color: red !important;
}
.syntaxhighlighter.printing .color3 a {
	color: red !important;
}
.syntaxhighlighter.printing .break {
	color: black !important;
}
.syntaxhighlighter.printing .break a {
	color: black !important;
}
